html
  head
    title Local Weather Reports
  body
    table(cellpadding=4,width=400)
      tr
      td
        img(src='images/weather_header.gif')
      tr
      td
        h3 #{location.name}
      tr
      td
        img(src=localImagePath)
        font(size=7,weight=bold) #{current.temperature} #{location.degreetype}
      tr
      td
        ul
          li #{current.skytext}
          li Humidity: #{current.humidity}%
          li Wind: #{current.winddisplay}
    table(cellpadding=8,width=400)
      tr
      each day in forecast
        td(align=center)
          h3 #{day.shortday}
          img(src=day.localImage)
          br
          font(size=2) L #{day.low} H #{day.high}
